<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meeting.room.meetingroomcloud.dao.AppointArrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="meeting.room.meetingroomcloud.entity.AppointArr">
        <id column="id" property="id" />
        <result column="detail" property="detail" />
        <result column="status" property="status" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, detail, status, time
    </sql>

</mapper>
