<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meeting.room.meetingroomcloud.dao.RoomAppointInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="meeting.room.meetingroomcloud.entity.RoomAppointInfo">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="roomid" property="roomid" />
        <result column="date" property="date" />
        <result column="appointArr" property="appointArr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openid, roomid, date, appointArr
    </sql>

</mapper>
